iframe {
	border: none;
	margin-right: auto;
	margin-left: auto;
	margin: 5%;
	height: 500px;
	width: 75%;
}

.main-header {
	text-align: center;
	margin: 2%;
}

#loader {
	margin-left: auto;
	margin-right: auto;
}

.form-group {
	margin-right: 10px;
}

#stock-pairs-form {
	display: flex;
	justify-content: center;
}

#loader_table {
	height: 36px;
}

.columns_logo {
	width: 75px;
}

#table-container.dataTable  {
    /*font-family: 'Rajdhani', sans-serif;*/
}